body {
    background-image: url(https://wallpapercave.com/wp/wp2132611.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Tahoma, Verdana, sans-serif;;
    text-align: center;
    
}
.conteiner{
    color:aliceblue
}
.text{
    color:aliceblue
}

.buttons button{
    margin: 40px;
    border-radius: 40px;
    background-color: white;
}
.buttons button:hover {
    background-image: url(https://scontent-ist1-1.xx.fbcdn.net/v/t39.30808-6/226652782_697076907808873_6270198785571009982_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=VR3PJ5D0SEYAX-PD9T5&_nc_ht=scontent-ist1-1.xx&oh=00_AfADw1SygrS9Cy83WFTyQUvBqYy_9ddyPW4uTwbE5w-oKg&oe=65160F50);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Tahoma, Verdana, sans-serif;;
    text-align: center;
}

.footer {
    color: aliceblue;
    text-align: right;
    text-align: bottom;
    margin-right: 40px;
}
